/* DocumentUpdate style */
.updatewrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.editorwrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1.4rem;
}

.editorwrapper,
.outputwrapper {
    max-width: 50%;
}
