/* LogoutButton style */
.button {
    background: none;
    border: none;
    color: #d49007;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
    font-weight: bold;
}

.button:hover {
    color: #d49007;
    text-decoration: underline;
}
